<% layout("/layouts/boilerplate") %>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    console.log(mapToken);
</script>

<% if (searchResults.length > 0) { %>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h2>Search Results</h2>
        </div>
    </div>

    <% searchResults.forEach(listing => { %>
        <div class="row mt-3">
            <div class="col-8 offset-3">
                <h3><b><%= listing.title %></b></h3>
            </div>
            <div class="card col-6 offset-3 show-card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <h4 class="card-text">Owned by: <i><%= listing.owner.username %></i></h4>
                    <h5 class="card-text">Description: <%= listing.description %></h5>
                    <% if (listing && listing.price !== null) { %>
                        <h5 class="card-text">Price: &#8377; <%= listing.price.toLocaleString("en-IN") %>/night </h5>
                    <% } else { %>
                        <h5 class="card-text">Price not available</h5>
                    <% } %>
                    <h5 class="card-text">Contact No: <%= listing.contact_no %></h5>
                    <h5 class="card-text">Location: <%= listing.location %></h5>
                    <h5 class="card-text">Country: <%= listing.country %></h5>
                </div>
                <hr>
                <div class="col-8 offset-0 mb-1">
                <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
                    <div class="btns">
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2 offset-0 edit-btn">Edit</a>
                        <form method="post" action="/listing/<%= listing._id %>?_method=delete">
                            <button class="btn btn-dark offset-5" type="submit">Delete</button>
                        </form>
                    </div>
                <% } %>
                <script>
                      const coordinates = <%= JSON.stringify(listing.geometry.coordinates)%>; //to send data on map.js
                </script>
               <hr>
                    <h3>Where you'll be</h3>
                    <div id="map">
                    <!-- Unique ID for each map -->
                    <hr>
                    <div>
                    <% if(currentUser && !currentUser._id.equals(listing.owner._id)){ %>
                        <hr>
                        <h4>Leave A Review</h4>
                        <form action="/listings/<%= listing._id %>/reviews" method="post">
                            <div class="mb-3 mt-3">
                                <label for="rating" class="form-label">Rating</label>
                                <fieldset class="starability-slot">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="mb-3 mt-3">
                                <label for="comment" class="form-label">Comment</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                            </div>
                            <button class="btn btn-outline-dark">Submit</button>
                        </form>
                    <% } %>

                    <hr>

                    <% if(listing.reviews.length > 0){ %>
                            <div class="row">
                                <p><b>All Reviews</b></p>
                                <% listing.reviews.forEach(review => { %>
                                    <div class="card col-5 ms-3 mb-3">
                                        <div class="card-body">
                                            <h5 class="card-title">@<%= review.author.username %></h5>
                                            <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                                            <p class="card-text"><%= review.comment %></p>
                                        </div>
                                        <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
                                            <form class="mb-3" method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=delete">
                                                <button class="btn btn-sm btn-dark">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                <% }); %>
                            </div>
                    <% } %>
            </div>
            </div>
        </div>
    <% }); %>
</div>
<% } else { %>
    <div class="row mt-3">
        <div class="col-8 offset-3">
            <h2>No listings found for the provided location.</h2>
        </div>
    </div>
<% } %>
</div>
<script src="/js/map.js"></script>
